<div class="main-form" *ngIf="!isSelected">
  <div class="title">
      <span>{{santaService.currentSantaInitName}} Select your Gifter...!</span>
  </div>

  <div class="selection-area">
    <div class="squares"  >
      <button mat-raised-button class="square grow" *ngFor="let num of numArray" (click)="click(num)">
        <span>{{num}}</span>
      </button>

    </div>

<!--    <div class="result" *ngIf="isSelected">-->

<!--      <div class="result-card">-->
<!--<div class="details">-->
<!--  <span><strong>Email : </strong> Test One</span>-->
<!--  <span><strong>Name : </strong> Test One</span>-->
<!--</div>-->




<!--      </div>-->

<!--    </div>-->
  </div>
</div>
