<div class="main-area">
  <div class="main-card">
    <div class="form-card">
      <img src="assets/Control-Union_logo_500.png">
      <form [formGroup]="openForm" (submit)="onSubmit()">
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Name With Initial</mat-label>
            <input matInput placeholder="Placeholder" formControlName="Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!--            <mat-hint>Hint</mat-hint>-->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Member Number</mat-label>
            <input matInput placeholder="Placeholder" formControlName="memberNumber">
            <!--            <mat-hint>Hint</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="btn-bar">
<!--          <button mat-raised-button color="primary" type="submit">Submit</button>-->
          <button  *ngIf="!apiloading" (click)="onSubmit()" mat-raised-button color="primary" type="submit">Submit</button>
          <button *ngIf="apiloading" color="primary" mat-button>
            <mat-spinner diameter="20"></mat-spinner>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
